.venv
__pycache__
.env
temp

node_modules
.next
*.tsbuildinfo
next-env.d.ts

*.tif*
*.shp*
*.shp*
*.cpg*
*.shx*
*.prj*
*.dbf*
*.vrt*
*.xlsx*
*.parquet*
*.fgb*
*.sbn*
*.sbx*
*.qmd*

*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.toc
